[Unit]
Description=Script to monitor ignition status
ConditionPathExists=/opt/power-monitor/power-monitor.py
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /opt/power-monitor/power-monitor.py
Restart=on-failure
StartLimitInterval=60
RestartSec=5
StartLimitBurst=3 

[Install]
WantedBy=multi-user.target
